// ----------------------------------
// property marquee animation start 
// ----------------------------------
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 35s linear infinite;
}

/* Accessibility */
@media (prefers-reduced-motion: reduce) {
  .animate-marquee {
    animation: none;
  }
}

// -------------------------------------
// property marquee animation end
// ----------------------------------
