@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

$primary-color: #10253f;
$secondary-color: #10253f;
$input-bg: #eee;

body {
  font-family: 'Poppins', sans-serif;
}

button {
  border-radius: 20px;
  border: 1px solid $primary-color;
  background-color: $primary-color;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  margin-top: 10px;

  &:active {
    transform: scale(0.95);
  }

  &:focus {
    outline: none;
  }

  &.ghost {
    background-color: transparent;
    border: 1px solid #ffffff;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}

form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;

  input {
    background-color: $input-bg;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    border-radius: 5px;

    &:focus {
      outline: 2px solid $secondary-color;
      background-color: white;
    }
  }
}

/* MAIN CONTAINER */
.container {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  margin: 120px auto 50px auto;
  width: 768px;
  max-width: 100%;
  min-height: 450px;

  .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    transition: all 0.6s ease-in-out;
  }

  .sign-in-container {
    left: 0;
    z-index: 2;
  }

  .sign-up-container {
    left: 0;
    opacity: 0;
    z-index: 1;
    transform: translateX(100%);
  }

  /* Overlay container */
  .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;

    .overlay {
      background: linear-gradient(155deg, #101e30, #3d618a);
      color: #ffffff;
      position: absolute;
      left: -100%;
      width: 200%;
      height: 100%;
      transition: transform 0.6s ease-in-out;

      .overlay-panel {
        position: absolute;
        top: 0;
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        // padding: 0 10px;
        text-align: center;
        transition: transform 0.6s ease-in-out;
      }

      .overlay-left {
        left: 65px;
        transform: translateX(-20%);
      }

      .overlay-right {
        right: 0;
        transform: translateX(0);
      }
    }
  }

  /* ACTIVE (when switching) */
  &.right-panel-active {

    .sign-in-container {
      transform: translateX(100%);
      opacity: 0;
      z-index: 1;
    }

    .sign-up-container {
      transform: translateX(100%);
      opacity: 1;
      z-index: 5;
      animation: show 0.6s forwards;
    }

    .overlay-container {
      transform: translateX(-100%);
    }

    .overlay {
      transform: translateX(50%);
    }

    .overlay-left {
      transform: translateX(0%);
    }

    .overlay-right {
      transform: translateX(20%);
    }
  }
}

/* Keyframes */
@keyframes show {
  0% {
    opacity: 0;
    z-index: 1;
  }
  50% {
    opacity: 1;
    z-index: 5;
  }
  100% {
    opacity: 1;
    z-index: 5;
  }
}

/* Social Icons */
.social-container {
  margin: 20px 0;

  a {
    border: 1px solid #dddddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;

    &:hover {
      background-color: #eee;
      color: $primary-color;
      border-color: transparent;
    }
  }
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .container {
    width: 95%;
    min-height: 520px;
  }

  form {
    padding: 0 25px;
  }

  h1 {
    font-size: 1.6em;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.4em;
  }

  button {
    padding: 10px 30px;
  }

  input {
    padding: 10px 12px;
  }

  .social-container a {
    height: 35px;
    width: 35px;
  }

  .container {
    min-height: 480px;
  }
}
