<nav class="navbar navbar-expand-lg fixed-top navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="logo.png" alt="Logo" class="logo" />
    </a>

    <button class="navbar-toggler" type="button" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [class.show]="isMenuOpen">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link text-white" routerLink="/">Home</a></li>
        <li class="nav-item"><a class="nav-link text-white" routerLink="/page">About</a></li>
        <li class="nav-item"><a class="nav-link text-white" routerLink="/contact">Contact</a></li>
        
        <!-- ✅ If logged in -->
        <ng-container *ngIf="isLoggedIn; else notLoggedIn">
          <li class="nav-item"><a class="nav-link text-white" routerLink="/project">Project</a></li>
          <li class="nav-item">
            <a class="nav-link text-white" (click)="logout()">Logout</a>
          </li>
        </ng-container>

        <!-- ❌ If not logged in -->
        <ng-template #notLoggedIn>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/login">Login</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
